$color-bg-1: #ffeef2;
$color-bg-2: #ffe4f3;
$color-accent-1: #ffc8fb;
$color-accent-2: #ff92c2;
$color-gray-1: rgb(0, 0, 0, 0.25);

$text-color: rgba(0, 0, 0, 0.85);
$link-color: $text-color;
$link-visited-color: $color-gray-1;
$link-hover-color: rgba(0, 0, 0, 0.75);
