{% extends "base.html" %}

{% block content %}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date }}" itemprop="datePublished">
                {{ page.date | date(format="%b %-d, %Y") }}
            </time>
            {% if page.author %} •
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author }}</span>
            </span>
            {% endif %}
        </p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ page.content | safe }}
    </div>
</article>
{% endblock content %}