<header>
    <div class="title-container">
        <p aria-hidden>B</p>
        <a href="/"><h1 id="baby-steps">Baby Steps</h1></a>
        <p aria-hidden>b</p>
        <p aria-hidden>y</p>
        <p aria-hidden>S</p>
        <p aria-hidden>t</p>
        <p aria-hidden>e</p>
        <p aria-hidden>p</p>
        <p aria-hidden>s</p>
    </div>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
        <ul>
        <p class="author">Niko Matsakis</p>
    </nav>
</header>
<img src="/daphne-bw.png" alt="My daughter, Daphne" class="daphne" />